.container{
    height: 100vh;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(100,121,9,1) 0%, rgba(0,212,255,1) 100%);
}
.navbar{
    display: flex;
    padding: 0.5rem 5rem;
    background-color: aqua;
    justify-content: space-between;
}
.btn{
    margin: auto 0;
    border-radius: 5px;
    padding:  10px ;
    width: fit-content;
    height: fit-content;
    background-color: gold;
}
.score{
    text-align: center;
}
.card{
    width:50%;
    height: 60%;
    display: grid;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 10px;
    margin: auto;
    border-radius: 5px;
}
.box { 
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; 
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    transform: rotateY(180deg);
    animation: 3s hideCard linear;
    transition: transform 0.5s;
}

@keyframes hideCard{
    0% ,50%, 70%{
        transform: rotateY(0);
    }
    100%{
        transform: rotatey(180deg);
    }
}
.box img{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    transform: scale(0); 
    animation: 3s hideImage linear;
} 
@keyframes hideImage{
    0%,70%{
      transform: scale(1);
    }
    100%{
      transform: scale(0);
    }
  }
.box.active{
    transform: rotateY(0);
}
.box.correct{
    background-color: #65e469;
  }
  .box.wrong{
    background-color: #fd245a;
  }

.box.active img{
    transform: scale(1);
}






@media (max-width:479px) {

    .navbar{
        display: flex;
        padding: 5px;
        background-color: aqua;
        justify-content: space-between;
    }

    .card{
        width:90%;
        height: 70%;
        margin: auto;
        gap: 5px;
        border-radius: 5px;
        /* border: 2px solid black; */
        /* box-shadow: black 5px 5px 5px; */
    }
    .row{
        width: 100%;
        display: flex;
        height: 25%;
    }
    .box{
        width:90%;
        /* background-color: rgb(66, 98, 104);  */
        height: 100%;
        border: 2px solid black;
    }
    .box >img{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 90%;
    } 

    
}